extends layout

block content
  section#home.home
    .container
      .row 
        .col-md-6.intro
          h2.black Hello 
          p.black My Name is Ian Behrmann, and I develop web applications
          p.black I am passionate about developing complex back-end solutions, with the end goal of detailed data visualization.  Visualizing data in a world where it is constantly available, and constantly changing - motivates me to improve and find new ways to express myself.
          h2.black About me
          p.black Been a resident of Colorado most of my life, and an avid snowboarder.  I love being outdoors but am also thrilled and intrigued by the progression of video game technology.

  section#portfolio.portfolio
    .container
      .portfolio-section
        .row
          .col-md-10.col-md-offset-1
            h2.text-center.padding-top.black Projects
        .row.margin-top
          .col-md-6
            figure.portfolio-img
              img.img-responsive(src="/images/colorado-disc.png")
              figcaption
                a.margin-left(href="https://colorado-disc.herokuapp.com/") Colorado-Disc Site
            p.margin-top.text-center.black An application for Colorado Disc Golf players to help manage their progress and track scores with d3 visualization.  Login with email: example@example.com, password: notpassword or create a new profile
          .col-md-6
            figure.portfolio-img
              img.img-responsive(src="/images/grafique.png")
              figcaption.hover-mask
                a.margin-left(href="https://grafique.cfapps.io/") D3 Pie Chart Generator
            p.margin-top.text-center.black A single page Angular app that allows you to dynamicly generate pie charts and export the corresponding d3 code snippet.
  section#skills.skills
      h2.text-center.black DEVELOPMENT SKILLS
      .wrapper
        .row.skills-list
          .col-md-4
            h3.black.text-center FRONT-END
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center jQuery
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center D3.js
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center JavaScript
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center Angular
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center CSS3
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center HTML5
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center Bootstrap
          .col-md-4
            h3.black.text-center BACK-END
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center Java
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center Express
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center NodeJS
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center MongoDB
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center PostgreSQL
          .col-md-4
            h3.black.text-center GENERAL
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center Test Driven Development
            i.fa.fa-caret-right.text-primary.block
              span.black.margin-left-sm.align-center Git/Github
  section#contact.contact
    .container
      .contact-section
        h1.text-center.black.padding-top CONTACT ME
        .row
          .col-md-6.col-md-offset-3
            h3.text-center.black ianjbehrmann@gmail.com
            .icons.text-center
              a(href="https://gmail.com")
                i(class='glyphicon glyphicon-envelope')
              a(href="https://github.com/behrmann41")
                i(class="fa fa-github")
              a(href="https://twitter.com/ijb41")
                i(class="fa fa-twitter")
              a(href="https://www.linkedin.com/in/ianjbehrmann")
                i(class="fa fa-linkedin")
