extends layout

block content
  section#intro
    .container
      h2 Hello 
      p My Name is Ian Behrmann, and I develop web applications!
    .container
      p I love developing complex back-end solutions, with the end goal of detailed data visualization.
