extends layout

block content
  section#home.home
    .container
      h2 Hello 
      p My Name is Ian Behrmann, and I develop web applications!
    .container
      p I love developing complex back-end solutions, with the end goal of detailed data visualization.

  section#portfolio.portfolio
  section#contact.contact
