extends layout

block content
  section#home.home
    .container
      h2 Hello 
      p My Name is Ian Behrmann, and I develop web applications!
    .container
      p I love developing complex back-end solutions, with the end goal of detailed data visualization.  Visualizing data in a world where it is constantly available, and constantly changing - motivates me to improve and find new ways to express myself.
    .page-scroll
      .row-fluid
        span.pull-down
          button#projects.btn.btn-default.btn-lg.glyphicon.glyphicon-triangle-bottom

  section#portfolio.portfolio
    .container
      p hello
    .container
      p projects here

  section#contact.contact
