doctype html
html
  head
    title Home | Ian Behrmann
    link(rel='stylesheet', href='https://bootswatch.com/paper/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#home(data-spy="scroll" data-target=".navbar")
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#home') Ian Behrmann
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#home') Home
            li
              a(href='#portfolio') Portfolio
            li
              a(href='#contact') Contact

    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type="text/javascript" src="/javascripts/scripts.js")
