body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}

.home {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/intro-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.portfolio {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/portfolio-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.contact {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/contact-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

a {
  color: #00B7FF;
}

p {
  font-size: 18px;
}
