.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

body {
  font-family: 'Montserrat', sans-serif;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

p {
  font-size: 18px;
}

h3, h2{
  color: #000;
  word-wrap: break-word;
}

.white {
  color: #fff;
}

.black {
  color: black;
}

.wrapper {
  margin: 30px;
}

.navbar {
  border-bottom: 0;
  background: #FFFFFF;
  -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
  -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
  transition: background .3s ease-in-out,padding .3s ease-in-out;
}
.navbar-default .navbar-header .navbar-brand {
  color: #000000;
}

.padding-top {
  padding-top: 80px;
}

.home {
  will-change: transform;
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.home::after {
  content: "";
  display: block;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.25;
  position: absolute;
  z-index: -1;
  color:#454545;
  background: url('../images/intro-bg.jpg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro {
  padding-top: 60px;
}

.margin-top {
  margin-top: 30px;
}


.portfolio {
  will-change: transform;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.portfolio::after {
  content: "";
  display: block;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  padding: 200px 0;
  color: #000;
  /*background: url('../images/portfolio-bg.jpeg') no-repeat center center scroll;*/
  background-color: #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.skills {
  will-change: transform;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.skills::after {
  content: "";
  display: block;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/skills-bg.jpg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.skills-list {
  padding-top: 200px;
}

.margin-left-sm {
  font-size: 18px;
}

#skills {
  padding: 70px 0;
}

#skills > .col-md-3 {
  margin: 5px;
  padding-top: 20px;
}
.contact {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.contact::after {
  content: "";
  display: block;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/diagram-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.contact-section {
  padding: 10px;
}

.contact-section > h1 {
  text-decoration: underline;
}

.icons i {
  padding: 20px, 10px;
}


i, i.fa {
  font-size: 30px;
  margin: 15px;
}

figure.portfolio-img{
  -moz-box-shadow: 5px 5px 10px #333;
  -webkit-box-shadow: 5px 5px 10px #333;
  box-shadow: 5px 5px 10px #333;
}

figure {
  position: relative;
  overflow: hidden;
}

figure:hover figcaption {
  bottom: 0px;
}

figcaption {
  padding-top: 20px;
  padding-left: 40px;
  bottom: -70px;
  position: absolute;
  transition: bottom 0.3s;
  height: 70px;
  width: 100%;
  background-color: #333;
}

figcaption a:hover {
  text-decoration: none;
}

figcaption a {
  font-size: 20px;
  color: #fff;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
  and (min-width : 321px) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
  and (max-width : 320px) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* iPads (portrait) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* Desktops and laptops ----------- */
@media only screen
  and (min-width : 1224px) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* Large screens ----------- */
@media only screen
  and (min-width : 1824px) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}

/* iPhone 4 ----------- */
@media
  only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {
    section {
      min-width: 100%;
      min-height: 100%;
    }
}
