body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

p {
  font-size: 18px;
}

.navbar {
  border-bottom: 0;
  background: #FFFFFF;
  -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
  -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
  transition: background .3s ease-in-out,padding .3s ease-in-out;
}
.navbar-default .navbar-header .navbar-brand {
    color: #000000;
}

.home {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/intro-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.portfolio {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/portfolio-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.contact {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: rgba(255,255,255,0.7);
  background: url('../images/diagram-bg.jpeg') no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.pull-down {
  position:fixed;
  bottom:1px;
  left:5px;
  margin:0;
  padding:5px 3px;
}
#projects {
  vertical-align: bottom;
}
